.containerPosts {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ulPosts {
  border: white solid;
  margin: 5px 5px 5px 5px;
}
li {
  border: rgb(230, 243, 218) solid;
  justify-content: center;
  margin: 5px 5px 5px 5px;
  color: orange;
}
